.graficoContainerAll{
    background-color: #100E1D;
    width: 100%;
    color: #E7E7EB;;
}
.graficoContainerContent{
    max-width: 70%;
    margin: auto;
    padding-top: 52px;
}
.containerCyF{
    display: none;
}
.containerCGrafico{
    background: #E7E7EB;
    border-radius: 50%;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    color: #110E3C;
    padding: 10.48px 10.48px 9.52px 11.43px;
    margin-right: 12px;
    cursor: pointer;
}
.containerFGrafico{
    background-color: #585676;
    margin-right: 13px;
    border-radius: 50%;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #E7E7EB;
    padding: 10.48px 11.43px 9.52px 12.38px;
    cursor: pointer;
}
.daysContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.firstChild{
    background-color: rgb(186, 0, 243);
}
.titleHighlights{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #E7E7EB;    
}


@media only screen and (min-width: 418px){
    .daysContainer{
        justify-content: flex-start;
    }
}

@media only screen and (min-width: 1200px){
    .graficoContainerAll{
        width: 70%;
    }
    .graficoContainerContent{
        padding: 0;
    }
    .containerCyF{
        display: flex;
        justify-content: flex-end;
    }
    .daysContainer{
        flex-wrap: nowrap;
        justify-content: space-around;
    }
}