.graficoContainerAll{
    background-color: #100E1D;
    width: 100%;
    color: #E7E7EB;;
}
.graficoContainerContent{
    max-width: 70%;
    margin: auto;
}
.daysContainer{
    display: flex;
    justify-content: space-between;
}
.firstChild{
    background-color: rgb(186, 0, 243);
}