.sideBarContainer{
    background-color: #1E213A;
    display: flex;
    flex-direction: column;
}
.sideBarDefault{
    background-image: url('../../Images/Cloud-background.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 0px 20%;
}
.btns-containers{
    display: flex;
    justify-content: space-around;
    padding: 42px 0 80px;
}
.btn-searchPlaces{
    background-color: #6E707A;
    width: 161px;
    height: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #E7E7EB;
    border: none;
    transition: 0.3s;
}
.btn-searchPlaces:hover{
    transition: 0.3s;
    cursor: pointer;
    transform: scale(1.05);
}

.iconLocation{
    background: #6E707A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 60%;
    width: 40px;
    height: 40px;
    transition: 0.3s;
}
.iconLocation:hover{
    transition: 0.3s;
    cursor: pointer;
    transform: scale(1.1);
}
.fa-search-location{
    font-size: 16px;
    color: #E7E7EB;
}
.iconTimeContainer{
    display: flex;
    justify-content: center;
}
.iconTime{
    width: 202px;
}
.titleTemperature{
    padding-top: 80px;
    text-align: center;
}
.numberTemperature{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 144px;
    line-height: 169px;
    color: #E7E7EB;
}
.c_temperature{
    font-size: 80px;
    font-weight: 300;
    color: #9e9e9e;
}
.subTitle{
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #A09FB1;
}
.textDateToday{
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    
    color: #88869D;    
}

.pointSideBar{
    padding: 0 16px;
}
.containerUbication{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 104px;
}
.containerUbication p{
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #88869D;    
}
.fa-map-marker-alt{
    color: #88869D;
    padding-right: 8px;
}
/* SideBar secundario */
.closeSidebarContainer{
    display: flex;
    justify-content: flex-end;
}
.fa-times{
    color: #E7E7EB;
    font-size: 20px;
    padding: 17.41px 17.41px 29px 0px;
    transition: 0.3s;
}
.fa-times:hover{
    transition: 0.3s;
    cursor: pointer;
    transform: scale(1.1);
}
.buscadorContainer{
    position: relative;
}
.inputSearch{
    width: 70%;
    height: 48px;
    border: 1px solid #E7E7EB;
    background: #1E213A;
    padding-left: 49px;
    margin: 0px 12px 38px 12px;
}
.fa-search{
    color: #616475;
    position: absolute;
    top: 15px;
    left: 28px;
}
.btn-search{
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #E7E7EB;
    background: #3C47E9;
    border: none;
    width: 20%;
    height: 48px;
}
.BusquedasContainer{
    color: #E7E7EB;
}
.BusquedasContainer p{
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 14px 4%;
    padding: 23px 80% 22px 12px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #E7E7EB;
}
.arrowTitle{
    visibility: hidden;
    position: absolute;
    right: 16px;
    color: #616475;
}
 .BusquedasContainer p:hover .arrowTitle{
    visibility: visible;
} 
.BusquedasContainer p:hover{
    border: 1px solid #616475;
    box-sizing: border-box;
}
@media only screen and (min-width: 600px){
    .inputSearch{
        width: 80%;
    }
    .btn-search{
        width: 15%;
    }
    .BusquedasContainer p{
        margin: 14px 2%;
    }
}
@media only screen and (min-width: 1200px){
    .sideBarContainer{
        width: 30%;
      }
    .subTitle{
        padding: 80px 0;
      }
      .containerUbication{
        padding-bottom: 40px;
    }

    /* SideBar secundario */
    .fa-times{
        color: #E7E7EB;
        font-size: 20px;
        padding: 24.41px 31.41px 29px 0px;
    }
    .buscadorContainer{
        max-width: 90%;
        margin: auto;
    }
    .inputSearch{
        width: 60%;
    }
    .btn-search{
        width: 30%;
    }
    .BusquedasContainer{
        max-width: 90%;
        margin: auto;
    }
    .BusquedasContainer p{
        max-width: 90%;
    }
}